.user-welcome-message {
  color: #58409e;
  font-weight: bold;
  background-color: #e3def0;
  padding: 10px 20px;
  border-radius: 30px;
}
.user-email-address {
  color: #58409e;
  font-weight: bold;
}
