.current-album-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #dfd9eb;
  margin-top: 12px;
  padding: 20px;
  border-radius: 20px;
}
.album-image-container img {
  width: 100px;
  border-radius: 20px;
}
.album-name-subtitle {
  font-size: 14px;
  margin-top: -50px !important;
}
.music-timing span {
  font-size: 11px;
  padding: 0 2px;
  margin: 5px 0;
}
