.welcome-page-container{
  overflow: hidden !important;
}
.top-circle {
  width: 130px;
  height: 110px;
  background-color: #a9bae6;
  position: absolute;
  border-radius: 0 0 300px 0;
}
.welcome-content-container {
  height: 90vh !important;
  width: 100vw !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto !important;
}
.welcome-page-title {
  font-weight: bold !important;
  font-size: 30px;
  margin: 40px 0 0 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  color: #1f3c88;
}
.welcome-page-sub-title {
  margin: 10px 0 0 30px;
  font-size: 20px;
  width: 200px;
  line-height: 1.3;
  color: gray;
  font-family: Calibri, 'Trebuchet MS', sans-serif !important;
}
.bottom-circle {
  width: 200px;
  height: 200px;
  background-color: #a9bae6;
  position: absolute;
  bottom: 0 !important;
  right: 0 !important;
  border-radius: 200px 0 0 0;
}
.next-icon-container svg {
  margin-left: 60px;
  margin-top: 60px;
}
