.brand-name {
  color: #fdfdfd;
  font-size: 20px;
}
.cursor-pointer {
  cursor: pointer;
}
.nav-title-container {
  transition: 0.4s;
  transition-timing-function: ease-in-out;
}
.nav-title-container:hover {
  font-size: 16px;
}
.navigation-item-container .nav-title-container {
  color: #fdfdfd;
}
.navigation-item-container .nav-icon-container {
  color: #ffcb85;
}
.selected-nav-item {
  color: #ffcb85;
  cursor: pointer;
  transition: 0.4s;
  transition-timing-function: ease-in;
  margin: 0 16px !important;
  font-size: 16px;
}
.selected-nav-ribbon {
  width: 7px;
  height: 30px;
  border-radius: 5px;
  background-color: #ffcb85;
  position: absolute;
  left: 0 !important;
  transition-timing-function: ease-in;
  transition: 0.4s;
}
.pro-account-banner{
  background-color: #7967b1;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  border: 1px solid #e3e0e0;
  margin-left: -20px;
}
.pro-account-title{
  color: #fdfdfd;
  font-weight: bold;
  font-size: 20px;
}
.pro-account-circle{
  width: 15px;
  height: 15px;
  background-color: #ffcb85;
  border-radius: 50%;
}
.pro-account-subtitle{
  width: 200px;
  font-size: 12px;
  color: #fff;
}
.pro-account-button{
  color: #fdfdfd;
  font-weight: bold;
}